.layui-body{
    background-color: #e6e6e6;
}
.layui-fluid {
    padding: 15px 15px 15px 15px;
}
.layui-col-md12{

}
.layui-card{
    background-color: #fff;
}

div.layui-layout-admin div.layui-header{background-color: #ffffff; color: #666;box-shadow:0 1px 2px 0 rgba(0,0,0,.05)}
div.layui-layout-admin div.layui-logo{background-color: #20222A !important;}
.layui-header .layui-nav .layui-nav-item a{color: #000;}

.layui-breadcrumb {
    border-bottom: 1px solid #f6f6f6;
    height: 40px;
    line-height:40px;
    background-color: #ffffff;
    margin-top: 10px;
    font-size: 11px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    width:98%;
    padding-left:5px;
}

.layadmin-tabspage-none .layadmin-header {
    display: block;
}
.layadmin-header {
    height: 30px;
    line-height: 30px;
    margin-bottom: 0;
    border-radius: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
    width:98%;
}
.layadmin-header .layui-breadcrumb {
    padding: 0 15px;
}
.layui-breadcrumb a {
    color: #999!important;
}
.layui-breadcrumb span[lay-separator] {
    margin: 0 10px;
    color: #999;
}
.layui-breadcrumb>* {
    font-size: 14px;

}
.layui-card-body {
    padding: 0px 15px 0 15px;
    line-height: 24px;
    padding-bottom: 20px;
}
.go_back{
    /*margin-top:20px;*/
    margin-left:15px;
}
.layui-form{margin-top:10px;}

.hide{display:none}
