html{height: 100%;}
body{
    background-color: #F2F2F2;
    height: 100%;
}
body a:hover {
    color: #F40;
    text-decoration: none;
}
div.site_button {
    padding-top:5px;
}
div.site_button a:hover {
    background-color: #1E9FFF;
    color:#ffffff;
}
.friend_link{
    margin: 5px 0 0 0;
    text-align: left;
}
.footer {
    margin: 50px auto 0 auto;
    width: 1200px;
    height: 100px;
    border-top: 1px solid #cccccc;
    text-align: center;
    /*background-color: #fff;*/
    /*box-shadow: 10px 10px 5px #888888;*/
}
ul.pagination{}
ul.pagination li{float: left; width: 30px;height: 20px;line-height: 20px; border:1px solid #ccc; margin-left:5px;}
ul.pagination li.active{background-color: #d0e7fc}
ul.pagination a:hover{font-weight: bold; text-decoration-line: underline}

.breadcrumb{height: 30px; border-bottom: 1px solid #e5e5e5;overflow: hidden; margin-bottom: 20px; line-height: 30px;}
.breadcrumb a {color: #999!important;  }
.breadcrumb span {  margin: 0 2px;  color: #999;  }
.breadcrumb .breadcrumb_left {border-left: 3px #23b991 solid;  width: 10px; float: left; height: 15px; margin-top:8px;}

.breadcrumb1{height: 30px; border-bottom: 1px solid #e5e5e5; overflow: hidden;}
.breadcrumb1 a {color: #999!important;  }
.breadcrumb1 span {  margin: 0 2px;  color: #999;  }

.part_wrapper{
    float: left;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    padding: 10px;
}

.part_title_wrapper {
    border-left: 3px #23b991 solid;
    border-bottom: 1px solid #f6f6f6;
}
.part_title{
    padding-left: 10px;
    font-size: 16px;
    color: #323232;
    height: 25px;
    line-height: 25px;
}
.part_title_wrapper .more{
    float: right;
    font-size: 12px;
    color: #666;
}
.part_content {
    float: left;
    padding: 5px;
}
.part_content ul{
    margin-left:10px;
}
.part_content li {
    float: left;
    height: 40px;
    line-height: 40px;
    width: 130px;
    margin: 10px 0 10px 0;
}

/* 左侧 */
.body-left .bd dd a.active {
    /*background-color: #23b991;*/
    background-color: #1E9FFF;
    color: #fff;
}

/* 站点信息鼠标效果 */
.part_1_content_category li.site_info_mouseover {
    background-color: #CDE5F9;
    color: #1E9FFF;
    border-radius:5px;
    border: 1px solid #92CAFA;
    height:48px;
    line-height: 48px;
}

/* 站点统计 */
.site_statistic{
    float: left;
    margin: 5px 0 0 50px;
}