/* 布局 */
.body{margin: 0 auto;width: 1200px;margin-top:10px;}
.body-left{
    float:left;
    width:260px;
    height:auto;
    background-color: #ffffff;
    /*border-top: 6px solid #101d37;*/
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    /*box-shadow: 0 3px 1px rgba(212,212,212,2);*/
    border-radius: 3px;
}


#page{text-align: center;}
.page_center{float:left; width:900px; height:auto;margin-left:20px; }
.page_center img{max-width: 800px; height: auto;}
.top{
    margin: 0 auto;
    width: 100%;
    height: 80px;
    /*box-shadow: 0 3px 1px rgba(212,212,212,0.5);*/
    /*background-color: #fff;*/
}
.top_wrapper{
    margin: 0 auto;
    width: 1200px;
    height: 80px;
}
.logo{
    float: left;
    width: 200px;
    margin-top:0px;
    padding:10px;
}
.top_menu_wrapper{float:left;margin-top:25px; margin-left:50px; width: 900px;}
.top_menu_wrapper ul{}
.top_menu_wrapper ul li{float: left; margin: 3px 0px 3px 6px;}

.top_menu_wrapper ul li a:hover{color:#6fc615;font-weight: bold;}
.top_menu_wrapper ul li.active {border-bottom: 4px solid transparent; border-bottom-color: #6fc615; }
.top_menu_wrapper ul li.active a{color:#6fc615;font-weight: bold;}

/*.main-nav {*/
    /*width: 900px;*/
    /*margin: 0 5px;*/
    /*font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体";*/
    /*font-size: 12px;*/
    /*margin-left: 20px;*/
/*}*/

/*.nav-mod-1 {*/
    /*width: 170px;*/
    /*margin-left: 2px;*/
    /*float: left;*/
/*}*/
/*.heng{*/
    /*width:8px;*/
    /*height:34px;*/
    /*float: left;*/
    /*margin-top: 5px;*/
    /*border-left: 1px solid #F2F2F2;*/
/*}*/
.body-left .bd {
    /*background-color: #fafafa;*/
}
.body-left .bd dl {
    border-top-color: transparent;
    /*border-bottom: 1px dashed #eaeaea;*/
    float: left;
}
.body-left .bd dt {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #f6f6f6;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}
.body-left .bd dt a.homepage{
    padding-left: 10px;
    border-left: 3px #23b991 solid;
    /*border-left: 3px #1E9FFF solid;*/
}

.body-left .bd dd {
    float: left;
    padding: 10px 0 10px 20px;
    height: auto;
}
.body-left .bd dd a {
    float: left;
    /*width: 78px;*/
    /*color: #7c7f80;*/

    /*display: inline-block;*/
    margin: 5px 5px 0 5px;
    min-width: 59px;
    height: 26px;
    padding: 0px;
    font-size: 12px;
    color: #969696;
    line-height: 26px;
    text-align: center;
    border: 1px #ebebeb solid;
    background-color: #fafafa;
    border-radius: 13px;
}
.body-left .bd dd a:hover {
    background-color: #23b991;
    background-color: #1E9FFF;
    color:#fff;
}

.img-block img {margin-right: 10px;}
.ad_1{margin-top: 20px;}
.ad_1 ul {float: left; width: 100%;}
.ad_1 ul li{float: left; margin-left:10px; margin-right:10px;}

.part_1_wrapper{
    float: left;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    padding: 10px;
}

.part_1_title {
    height: 20px;
    border-left: 3px #23b991 solid;
    border-bottom: 1px solid #f6f6f6;
    height: 24px;
    line-height: 24px;
}
.part_1_title h2{
    padding-left: 10px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    float: left;
    width: 20%;
}
.part_1_content {
    width: 860px;
    margin: 10px 0 0 20px;
    height: 300px;
}
.part_1_content ul{
    width: 100%;
}
.part_1_content li {
    float: left;
    width: 120px;
    height:30px;
    line-height: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.part_1_content_category {
    width: 860px;
    padding: 10px 0 10px 0;
    height: auto;
    margin: 0 0 10px 0;
    float: left;
}
.part_1_content_category ul{
    width: 100%;
}
.part_1_content_category li {
    float: left;
    width: 150px;
    height:50px;
    line-height: 50px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}
.part_1_content img {
}

/* 搜索 */
.search_box {
    position: relative;
    margin-left:100px;
    width: 400px;
    float: left;
    margin-top: 5px;
}
.search_box .caller-icon {
    font-size: 18px;
    position: absolute;
    top: 9px;
    margin-left:10px;
    float: left;
    left: 0px;
}
.search_box input{
    padding: 0 32px;
    width: 300px;
    float: left;
}
.weather_box{
    float: left;
    margin-left: 10px;
}
.date_box{
    float: left;
    margin-top: 2px;
}
.date_box p{margin-bottom: 2px;}
.site_button{float: left;}
/* 列表页 */

.line_wrapper{width: 100%; height: 200px; border-bottom: 1px solid #e5e5e5;overflow: hidden; margin-bottom: 20px;}
.line_picture{float: left; width: 200px; padding-top:15px;}
.line_content{float: left; width: 480px;}
.line_content_title{font-size: 20px;  color: #333; height: 50px; line-height: 50px;}
.line_content_body{color: #666;height: 100px;}
.line_content_bottom{float: right;color: #666;margin-right:10px;height: 50px; line-height: 50px;}

.body_right_block{margin-bottom:20px;}
