.body-content{float:left; width:1000px; height:auto;}
.body-center{float:left; width:680px; height:auto;margin-left:10px;}
.body-right{float:left; width:200px; height:auto;margin-left:10px;padding-top:28px;}