{include file="page/header" /}
{include file="page/body_top" /}
<div style="clear: both;"></div>
<div class="body">
    <div class="body-left">
        {include file="page/menu" /}
    </div>
    <div class="body-content">

        <!-- 分类内容开始 -->
        <div class="part_1_wrapper">
            {if condition="count($list) neq 0 "}
                <div class="part_1_title">
                    <h2>{$category.name}</h2>
                </div>
                <div class="part_1_content_category">
                    <ul>
                        {volist name='list' id='v'}
                        <li class="site_info">
                            <div style="height: 20px;line-height: 20px;"><img src="{$v.view_url}" width="16px" height="16px" > &nbsp;<a href="{$v.url}" target="_blank">{$v.title}</a></div>
                            <div class="site_info_brief" style="font-size: 12px;color:#ccc; height: 30px;line-height: 30px;padding:0 2px 0 2px;">{$v.brief}</div>
                        </li>
                        {/volist}
                    </ul>
                </div>
                <div style="clear: both;"></div>
            {/if}
            {if condition="$sub_lists neq '' " }
                {volist name='sub_lists' id='v' key="k"}
                    <div class="part_1_title">
                        <h2>{$v.name}</h2>
                        <span style="float: right; margin-right: 50px;">>><a href="{:url('category/id/'.$key)}">更多</a></span>
                    </div>
                    <div class="part_1_content_category">
                        <ul>
                            {volist name="v['list']" id='vo'}
                            <li class="site_info">
                                <div style="height: 20px;line-height: 20px;"><img src="{$vo.view_url}" width="16px" height="16px" > &nbsp;<a href="{$vo.url}" target="_blank">{$vo.title}</a></div>
                                <div class="site_info_brief" style="font-size: 12px;color:#ccc; height: 30px;line-height: 30px;padding:0 2px 0 2px;">{$vo.brief}</div>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    <div style="clear: both;"></div>
                {/volist}
            {/if}
        </div>
        <!-- 分类内容结束 -->

        <!-- 广告2开始 -->
        <div class="part_wrapper" style="width: 95%; margin: 10px 0 10px 0;">
            <script type="text/javascript">
                (function() {
                    var s = "_" + Math.random().toString(36).slice(2);
                    document.write('<div style="" id="' + s + '"></div>');
                    (window.slotbydup = window.slotbydup || []).push({
                        id: "u3700586",
                        container:  s
                    });
                })();
            </script>

            <!--<img src="{$Think.BASE_PATH}image/tmp/ad.jpg" width="280px">&nbsp;&nbsp;&nbsp;-->
            <!--<img src="{$Think.BASE_PATH}image/tmp/ad.jpg" width="280px">&nbsp;&nbsp;&nbsp;-->
            <!--<img src="{$Think.BASE_PATH}image/tmp/ad.jpg" width="280px">-->
        </div>
        <!-- 广告2结束 -->

    </div>
</div>


<script>
    layui.use('element', function(){
        var $ = layui.$;
        $('.top_menu').mouseover(function(){
            $('.top_menu').removeClass('active');
            $(this).addClass('active');
        })

        $('.site_info').mouseover(function(){
            $('.site_info').removeClass('site_info_mouseover');
            $(".site_info_brief").css({"color":"#cccccc"});
            $(this).children(".site_info_brief").css({"color":"#1E9FFF"});
            $(this).addClass('site_info_mouseover');
        })
    });
</script>
{include file="page/footer" /}
