<div class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
      {volist name="menu" id="vo"}
        {if condition="$vo.display eq 1"}
          <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">{$vo.name}</a>
            <dl class="layui-nav-child">
              {volist name="vo.child" id="v"}
                <dd><a href="{:url($v.url)}">{$v.name}</a></dd>
              {/volist}
            </dl>
          </li>
        {/if}
      {/volist}
    </ul>
  </div>
</div>