<div class="lianxi">
  <h3>金山岭长城军辉农家院</h3>
  <p>电话：13833407814、13833430072<br>
    联系人：周万军、刘晓艳<br><font color="#000000">联系我时请告诉我从</font><font color="#FF0000"><b>“农家乐联盟”</b></font><font color="#000000">看到的！</font><br><a rel="nofollow" href="https://www.22bw.com/news/wangzhanxinwen/19293/" target="_blank"><img src="/uploads/biaoshi/已认证.gif" border="0" alt="金山岭长城军辉农家院"></a></p>
</div>
<!-- /title -->
<table width="100%">
  <tbody><tr><td width="960px"><p>&nbsp; &nbsp; &nbsp; &nbsp;军辉<a href="https://www.22bw.com/" target="_blank">农家院</a>位于河北省滦平县<a href="https://www.22bw.com/hebeinongjiayuan/25531/" target="_blank"></a><a href="https://www.22bw.com/hebeinongjiayuan/25531/" target="_blank">金山岭</a>长城景区内，在院内即可欣赏到长城美景，这里环境优美，无空气污染，是您理想的度假胜地！从农家院到长城徒步只需20分钟</p>
    <p>军辉农家院全部标间，可接待团体，个人三五好友，家庭旅游。有无线wifi ,干净整洁，保证您有一个舒适的住宿环境。</p>
    <p>同时可接待20人左右，标间120元，正餐可以点餐，包桌300起。</p>
    <div><span style="font-size: medium;"><span style="color: rgb(255, 0, 0);"><strong>联系方式：13833407814、13833430072 （微信同步） &nbsp;联系人：周万军、刘晓艳</strong></span></span></div>

    <div><img src="https://www.22bw.com/uploads/allimg/180326/24527_180326093205_1.jpg" width="450" border="0" height="300" alt=""></div>
    <div><img src="https://www.22bw.com/uploads/allimg/180326/24527_180326093112_2.jpg" width="450" border="0" height="300" alt="">&nbsp;<img src="https://www.22bw.com/uploads/allimg/180326/24527_180326093205_2.jpg" width="450" border="0" height="300" alt=""></div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>在此处您还可以品尝到各种农家美食，卤水豆腐、小鸡炖蘑菇、菜鸡蛋、山野菜、烧烤等。</div>
    <div>&nbsp;</div>
    <div>
      <div style="padding: 0px; margin: 0px; color: rgb(51, 51, 51); font-family: Verdana, Arial, Tahoma; widows: 1; font-stretch: normal; line-height: 25px;"><img width="450" height="300" border="0" alt="" src="https://www.22bw.com/uploads/allimg/160314/9124_160314131250_1.jpg" style="padding: 0px; margin: 0px; border: medium none;">&nbsp;<img width="450" height="300" border="0" alt="" src="https://www.22bw.com/uploads/allimg/160314/9124_160314131307_1.png" style="padding: 0px; margin: 0px; border: medium none;"></div>
      <div style="padding: 0px; margin: 0px; color: rgb(51, 51, 51); font-family: Verdana, Arial, Tahoma; widows: 1; font-stretch: normal; line-height: 25px;"><img width="450" height="300" border="0" alt="" src="https://www.22bw.com/uploads/allimg/160314/9124_160314131320_1.jpg" style="padding: 0px; margin: 0px; border: medium none;">&nbsp;<img width="450" height="300" border="0" alt="" src="https://www.22bw.com/uploads/allimg/160314/9124_160314131328_1.jpg" style="padding: 0px; margin: 0px; border: medium none;"></div>
      <div style="padding: 0px; margin: 0px; color: rgb(51, 51, 51); font-family: Verdana, Arial, Tahoma; widows: 1; font-stretch: normal; line-height: 25px;"><img width="450" height="300" border="0" alt="" src="https://www.22bw.com/uploads/allimg/160314/9124_160314131338_1.jpg" style="padding: 0px; margin: 0px; border: medium none;">&nbsp;<img width="450" height="300" border="0" alt="" src="https://www.22bw.com/uploads/allimg/160314/9124_160314131401_1.jpg" style="padding: 0px; margin: 0px; border: medium none;"></div>
      <div style="padding: 0px; margin: 0px; color: rgb(51, 51, 51); font-family: Verdana, Arial, Tahoma; widows: 1; font-stretch: normal; line-height: 25px;"><img width="450" height="300" border="0" alt="" src="https://www.22bw.com/uploads/allimg/160314/9124_160314131438_1.jpg" style="padding: 0px; margin: 0px; border: medium none;">&nbsp;<img width="440" height="301" border="0" alt="" src="https://www.22bw.com/uploads/allimg/160418/9126_160418151037_1.jpg" style="padding: 0px; margin: 0px; border: none;"></div>
    </div>
    <div>&nbsp;</div>
    <div>军辉农家院周边景区：<a href="https://www.22bw.com/beijingnongjiayuan/29612/" target="_blank">古北水镇</a>，白龙潭景区，白草洼森林公园，<a href="https://www.22bw.com/beijingnongjiayuan/8409/" target="_blank">古北口</a>长城等。</div>
    <div>&nbsp;</div>
    <div>
      <p style="padding: 0px; margin: 0px; color: rgb(51, 51, 51); font-family: Verdana, Arial, Tahoma; widows: 1; font-stretch: normal; line-height: 25px;"><img width="300" height="225" border="0" alt="" src="https://www.22bw.com/uploads/allimg/150305/1_150305143155_5.jpg" style="padding: 0px; margin: 0px; border: medium none;">&nbsp;<img width="300" height="225" border="0" alt="" src="https://www.22bw.com/uploads/allimg/150305/1_150305143155_7.jpg" style="padding: 0px; margin: 0px; border: medium none;">&nbsp;<img width="300" height="225" border="0" alt="" src="https://www.22bw.com/uploads/allimg/150305/1_150305143155_3.jpg" style="padding: 0px; margin: 0px; border: medium none;"></p>
      <div style="padding: 0px; margin: 0px; color: rgb(51, 51, 51); font-family: Verdana, Arial, Tahoma; widows: 1; font-stretch: normal; line-height: 25px;"><img width="300" height="225" border="0" alt="" src="https://www.22bw.com/uploads/allimg/150305/1_150305143155_8.jpg" style="padding: 0px; margin: 0px; border: medium none;">&nbsp;<img width="300" height="225" border="0" alt="" src="https://www.22bw.com/uploads/allimg/150305/1_150305143155_9.jpg" style="padding: 0px; margin: 0px; border: medium none;">&nbsp;<img width="300" height="225" border="0" alt="" src="https://www.22bw.com/uploads/allimg/150305/1_150305143155_10.jpg" style="padding: 0px; margin: 0px; border: medium none;"></div>
      <div style="padding: 0px; margin: 0px; color: rgb(51, 51, 51); font-family: Verdana, Arial, Tahoma; widows: 1; font-stretch: normal; line-height: 25px;">&nbsp;</div>
    </div>
  </td></tr>
  </tbody></table>
