{include file="page/header" /}
<div class="layui-layout layui-layout-admin">
    {include file="page/body_top" /}
    {include file="page/menu" /}

    <div class="layui-body">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">

                        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                            <a lay-href="">主页</a><span lay-separator="">/</span>
                            <a href="{:url('article/list')}" ><cite>{$module_name}列表</cite></a><span lay-separator="">/</span>
                            <a><cite>{$module_name}编辑 </cite></a><span lay-separator=""></span>
                        </div>

                        <div class="go_back"><a href="{$goback}" class="layui-btn layui-btn-sm">返回</a></div>

                        <div class="layui-card-body">
                            <form id="add_form" action="{$action}" method="post" class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">网站名称</label>
                                    <div class="layui-input-block">
                                        <input type="input" name="title" placeholder="" lay-verify="required" class="layui-input" value="{$info.title}"  style="width: 30%">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">URL</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="url" id="LAY-user-login-nickname" lay-verify="required" placeholder="URL" value="{$info.url}" class="layui-input" style="width: 30%">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">排序</label>
                                    <div class="layui-input-block">
                                        <input type="input" name="weight" placeholder="" lay-verify="required" class="layui-input" value="{$info.weight}"  style="width: 30%">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="hidden" name="id" name="id" value="{$info.id}">
                                        <button class="layui-btn" lay-submit lay-filter="update" id="submit">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="page/body_bottom" /}
</div>
{include file="page/footer" /}
<script charset="utf-8" type="text/javascript" src='__ROOT__/kindeditor/kindeditor-all.js'></script>
<script charset="utf-8" type="text/javascript" src="__ROOT__/kindeditor/lang/zh-CN.js"></script>

<script>
    layui.use(['form'], function(){
        var form = layui.form;
        var upload = layui.upload;
        $ = layui.jquery;

        //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        form.on('submit(update)', function(data){
            //提交
            $.ajax({
                url: "{$action}",
                type: "post",
                data: data.field,
                success:function(result){
                    var result = JSON.parse(result);
                    var code = result.code;
                    var msg  = result.msg;
                    var data = result.data;
                    if(code==0){
                        layer.msg(msg, {
                            time: 2000,
                            icon: 16,
                            shade: 0.2
                        }, function(){
                            parent.location.reload();
                        });
                    }else{
                        layer.msg(msg);
                    }
                }
            });
            return false;
        });
    });
</script>
