{include file="page/header" /}
<div class="layui-layout layui-layout-admin">
    {include file="page/body_top" /}
    {include file="page/menu" /}

    <div class="layui-body">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">

                        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                            <a lay-href="">主页</a><span lay-separator="">/</span>
                            <a href="{:url('article/list')}" ><cite>{$module_name}列表</cite></a><span lay-separator="">/</span>
                            <a><cite>{$module_name}添加</cite></a><span lay-separator=""></span>
                        </div>

                        <div class="go_back"><a href="{$goback}" class="layui-btn layui-btn-sm">返回</a></div>

                        <div class="layui-card-body">
                            <form id="add_form" action="{$action}" method="post" class="layui-form" enctype="multipart/form-data" >
                                <div class="layui-form-item">
                                    <label class="layui-form-label">图册</label>
                                     <div class="layui-input-block">
                                        <div class="layui-input-inline">
                                            <select name="gallery_id" class="layui-select"  placeholder=" - 选择 - " lay-filter="gallery" lay-search>
                                                <option value=""> - 选择 - </option>
                                                {volist name="tree" id="vo"}
                                                    <option value="{$vo.id}">{$vo.name}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                 <div class="layui-form-item">   
                                    <div class="layui-upload">
                                          <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button> 
                                            <div class="layui-upload-list">
                                                <table class="layui-table">
                                                    <thead>
                                                          <tr><th>文件名</th>
                                                          <th>大小</th>
                                                          <th>状态</th>
                                                          <th>操作</th>
                                                          </tr></thead>
                                                        <tbody id="demoList"></tbody>
                                                </table>
                                            </div>
                                            <button type="button" class="layui-btn" id="testListAction">开始上传</button>
                                    </div> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="page/body_bottom" /}
</div>

{include file="page/footer" /}

<script>
    layui.use(['upload','form'], function(){
        var form = layui.form;
        var upload = layui.upload;
        $ = layui.jquery;

        //多文件列表示例
        var demoListView = $('#demoList')
            ,uploadListIns = upload.render({
                elem: '#testList'
                    ,url: '{$action}'
                    ,accept: 'file'
                    ,multiple: true
                    ,auto: false
                    ,bindAction: '#testListAction'
                    ,data:{'gallery_id':function(){return $("[name='gallery_id']").val()}}
                    ,choose: function(obj){   
                        var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                        //读取本地文件
                        obj.preview(function(index, file, result){
                            var tr = $(['<tr id="upload-'+ index +'">'
                                    ,'<td>'+ file.name +'</td>'
                                    ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                                    ,'<td>等待上传</td>'
                                    ,'<td>'
                                    ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                                    ,'</td>'
                                    ,'</tr>'].join(''));

                            //单个重传
                            tr.find('.demo-reload').on('click', function(){
                                obj.upload(index, file);
                            });

                            //删除
                            tr.find('.demo-delete').on('click', function(){
                                delete files[index]; //删除对应的文件
                                tr.remove();
                                uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                            });

                            demoListView.append(tr);
                        });
                    }
                ,before: function(obj){
                   var gallery_id = $("[name='gallery_id']").val();
                    if(!gallery_id){
                        alert('必须选择图册');
                        return false;
                    } 
                }
                ,done: function(res, index, upload){
                    if(res.code == 0){ //上传成功
                        var tr = demoListView.find('tr#upload-'+ index)
                            ,tds = tr.children();
                        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                        tds.eq(3).html(''); //清空操作
                        return delete this.files[index]; //删除文件队列已经上传成功的文件
                    }
                    this.error(index, upload);
                }
                ,error: function(index, upload){
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                    tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                }
            });

        //看大图
        $('.thumb_image').click(function(){
            var thumb_image_src = $('.thumb_image_picture').attr('src');
            layer.open({
                type: 1,
                title: false,
                area: ['auto', 'auto'],
                content: '<img src="'+thumb_image_src+'">',
            });
        });

    });

</script>
