{include file="page/header" /}
<style>
    .layui-table-body .layui-table-cell {
        height: auto;
        line-height: 60px;
    }
    .layui-table-body .layui-table-cell img{
        max-height:60px;
    }

</style>
<div class="layui-layout layui-layout-admin">
    {include file="page/body_top" /}
    {include file="page/menu" /}

    <div class="layui-body">

        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                            <a lay-href="">主页</a><span lay-separator="">/</span>
                            <a><cite>{$module_name}列表</cite></a><span lay-separator="">/</span>
                        </div>
                        <div class="go_back layui-inline"><a href="{:url('admin/'.$path.'/add')}" class="layui-btn ">添加</a></div>
                        <div class="layui-inline">
                            <form id="add_form" action="" method="post" class="layui-form" enctype="multipart/form-data" >
                                <div class="demoTable layui-inline" style="margin-left: 10px;">
                                    <div class="layui-inline">
                                        <input class="layui-input" name="keyword" id="demoReload" autocomplete="off">
                                    </div>
                                    <div class="layui-inline">
                                        <select name="gallery_id" id="gallery" class="layui-select" lay-search>
                                            <option value=""> - 选择 - </option>
                                            {volist name="tree" id="vo"}
                                                <option value="{$vo.id}">{$vo.name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <button class="layui-btn" data-type="reload">搜索</button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-body">
                            <table class="layui-table" lay-data="{height:900, url:'{$Think.BASE_PATH}admin/{$path}/list_data', page:true, id:'demo', limit:20}" lay-filter="demo" >
                                <thead>
                                <tr>
                                    <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                                    <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
                                    <th lay-data="{field:'thumb', width:200, templet:'#imageTpl'}">图片</th>
                                    <th lay-data="{field:'gallery_name', width:100}">分类</th>
                                    <th lay-data="{field:'description', width:200, edit:'text'}">描述</th>
                                    <th lay-data="{field:'weight', width:100, edit:'text'}">排序</th>
                                    <th lay-data="{field:'status', width:100}">状态</th>
                                    <th lay-data="{field:'create_time', width:200}">创建时间</th>
                                    <th lay-data="{fixed: 'right', toolbar: '#barDemo'}">操作</th>
                                </tr>
                                </thead>
                            </table>

                            <script type="text/html" id="barDemo">
                                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
                                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
                            </script>

                            <script type="text/html" id="imageTpl">
                                <img src="{{d.thumb}}" class="thumb_image_picture" style="cursor:pointer;" lay-event="big_image" />
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {include file="page/body_bottom" /}

</div>

{include file="page/footer" /}

<script>
    layui.use(['table','jquery', 'layer'], function(){
        var table = layui.table;
        var $ = layui.$;

        table.on('checkbox(demo)', function(obj){
//            console.log(obj)
        });

        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
//                layer.msg('ID：'+ data.id + ' 的查看操作');
                window.location.href = '{$Think.BASE_PATH}admin/{$path}/info?id=' + data.id;
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    //提交
                    $.ajax({
                        url: "{$Think.BASE_PATH}admin/{$path}/delete?id=" + data.id,
                        type: "get",
                        success:function(result){
                            var result = JSON.parse(result);
                            var code = result.code;
                            var msg  = result.msg;
                            var data = result.data;
                            if(code==0){
                                layer.msg(msg, {
                                    time: 2000,
                                    icon: 16,
                                    shade: 0.2
                                }, function(){
                                    obj.del();
//                                    parent.location.reload();
                                });
                            }else{
                                layer.msg(msg);
                            }
                            layer.close(index);
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                window.location.href = '{$Think.BASE_PATH}admin/{$path}/edit?id=' + data.id;
            } else if(obj.event === 'big_image'){
                var thumb_image_src = $(this).attr('src');
                layer.open({
                    type: 1,
                    title: false,
                    area: ['auto', 'auto'],
                    content: '<img src="'+thumb_image_src+'">',
                });
            }
        });

        var active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        //搜索
        $('.demoTable .layui-btn').on('click', function(){
            var demoReload = $('#demoReload');
            //执行重载
            table.reload('demo', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    keyword: demoReload.val(),
                    gallery_id: $('#gallery').val()
                }
            });

            return false;
        });

        //监听单元格编辑
        table.on('edit(demo)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
//            layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
            $.ajax({
                url: "{$action}",
                type: "post",
                data: {'id':data.id, 'field':field, 'content':value},
                success:function(result){
                    var result = JSON.parse(result);
                    var code = result.code;
                    var msg  = result.msg;
                    var data = result.data;
                    if(code==0){
                        layer.msg(msg, {
                            time: 2000,
                            icon: 16,
                            shade: 0.2
                        }, function(){
                           // parent.location.reload();
                        });
                    }else{
                        layer.msg(msg);
                    }
                }
            })
        });

        $(document).off('mousedown','.layui-table-grid-down').
            on('mousedown','.layui-table-grid-down',function (event) {
                table._tableTrCurrr = $(this).closest('td');
            });
         $(document).off('click','.layui-table-tips-main [lay-event]').
            on('click','.layui-table-tips-main [lay-event]',function (event) {
                var elem = $(this);
                var tableTrCurrr =  table._tableTrCurrr;
                if(!tableTrCurrr){
                    return;
                }
                var layerIndex = elem.closest('.layui-table-tips').attr('times');
                console.log(layerIndex);
                layer.close(layerIndex);
                table._tableTrCurrr.find('[lay-event="' + elem.attr('lay-event') + '"]').first().click();
         });

    });

</script>
