<!-- 头部开始 -->
{include file="page/header" /}
<!-- 头部结束 -->

<!-- 菜单开始 -->
{include file="page/menu" /}
<!-- 菜单结束 -->

<!-- 内容开始 -->
<div class="content-wrapper">

  <!-- 内容标题开始 -->
  <section class="content-header">
    <h1>
      {$module_name}详情
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>首页</li>
      <li><i class="fa fa-dashboard"></i>{$module_name}详情</li>
    </ol>
  </section>
  <!-- 内容标题结束 -->

  <!-- 主内容开始 -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <a  href="{$goback}" class="btn btn-primary">返回</a>
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <table  class="table table-bordered table-hover dataTable">
                  <tr>
                    <td width="10%" align="right">ID&nbsp;&nbsp;</td>
                    <td>{$info.id}</td>
                  </tr>
                  <tr>
                    <td width="10%" align="right">栏目名称&nbsp;&nbsp;</td>
                    <td>{$info.name}</td>
                  </tr>
                  <tr>
                    <td width="10%" align="right">频道名称&nbsp;&nbsp;</td>
                    <td>{$info.channel_name}</td>
                  </tr>
                  <tr>
                    <td width="10%" align="right">上级栏目&nbsp;&nbsp;</td>
                    <td>{$info.parent}</td>
                  </tr>
                  <tr>
                    <td width="10%" align="right">状态&nbsp;&nbsp;</td>
                    <td>{$info.status}</td>
                  </tr>
                  <tr>
                    <td width="10%" align="right">排序&nbsp;&nbsp;</td>
                    <td>{$info.weight}</td>
                  </tr>
                  <tr>
                    <td width="10%" align="right">关键字&nbsp;&nbsp;</td>
                    <td>{$info.keyword}</td>
                  </tr>
                  <tr>
                    <td width="10%" align="right">描述&nbsp;&nbsp;</td>
                    <td>{$info.description}</td>
                  </tr>
                  <tr>
                    <td width="10%" align="right">添加时间&nbsp;&nbsp;</td>
                    <td>{$info.create_time}</td>
                  </tr>
                  <tr>
                    <td width="10%" align="right">更新时间&nbsp;&nbsp;</td>
                    <td>{$info.update_time}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- 主内容结束 -->

</div>
<!-- 内容结束 -->

<!-- 脚部开始 -->
{include file="page/footer" /}
<!-- 脚部结束 -->


