<!-- 头部开始 -->
{include file="page/header" /}
<!-- 头部结束 -->

<!-- 菜单开始 -->
{include file="page/menu" /}
<!-- 菜单结束 -->

<!-- 内容开始 -->
<div class="content-wrapper">

    <!-- 内容标题开始 -->
    <section class="content-header">
        <h1>
            编辑{$module_name}
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>首页</li>
            <li><i class="fa fa-dashboard"></i>编辑{$module_name}</li>
        </ol>
    </section>
    <!-- 内容标题结束 -->

    <!-- 主内容开始 -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <a  href="{$goback}" class="btn btn-primary">返回</a>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form id="edit_form" action="{$action}" method="post" >
                        <div class="box-body">
                            <div class="form-group">
                                <label >{$module_name}名称</label>
                                <input type="input" name="name" class="form-control"  placeholder="" value="{$info.name}">
                            </div>

                            <div class="form-group">
                                <label >路径</label>
                                <input type="input" name="path" class="form-control"  placeholder="" value="{$info.path}">
                            </div>
                            <div class="form-group">
                                <label >排序</label>
                                <input type="input" name="weight" class="form-control"  placeholder="0" value="{$info.weight}">
                            </div>
                            <div class="form-group">
                                <label >关键字</label>
                                <input type="input" name="keyword" name="" class="form-control"  placeholder="keyword1, keyword2, keyword3" value="{$info.keyword}">
                            </div>
                            <div class="form-group">
                                <label >描述</label>
                                <textarea class="form-control" name="description" rows="10" placeholder="Enter ..." >{$info.description}</textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <input type="hidden" name="id" name="id" value="{$info.id}">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- 主内容结束 -->

</div>
<!-- 内容结束 -->

<!-- 脚部开始 -->
{include file="page/footer" /}
<!-- 脚部结束 -->


